<!-- Post -->
<article class="post">
  <h1>{{ title }}</h1>
  <h2><span>{{ category }}</span></h2>
  <p>{{ content }}</p>
  {{!-- {{#if posts.curUser}} --}}
  <a href="/delete/{{id}}" id="delete-button">Delete</a>
  <a href="/edit/{{id}}" id="edit-button">Edit</a>
  {{!-- {{/if}} --}}
  <a href="/details/{{id}}" id="details-button">Details</a>
</article>