{{> header}}

<!-- Details Dashboard  -->
{{!-- {{#if creator}} --}}
{{#each destinations}}

<section id="viewMydestinations">
    <h3>Your destinations</h3>
    <div class="destination-ticket">
        <div class="destination-left">
            <img src="{{imgUrl}}" alt="">
        </div>
        <div class="destination-right">
            <div>
                <h3>{{destination}}</h3><span>{{this.departureDate}}</span>
            </div>
            <div>
                to {{city}}
            </div>
            <p>{{duration}} days </p>
            <a href="/delete/{{id}}" class="remove">REMOVE</a>
            <a href="/details/{{id}}" class="details">Details</a>
        </div>
</section>
{{/each}}
{{!-- {{/if}} --}}
{{> footer}}